.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6rem;
  align-items: center;
  justify-items: unset;
}

.about__image {
  max-width: 350px;
}

.about__title {
  text-align: center;
  color: var(--secondary-font-color)
}

.about__text {
  text-align: justify;
}

.about__arrow {
  margin: 0 auto;
  display: block;
}