.nav {
  display: flex;
  justify-content: space-between;
  margin: 48px 4rem;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav .tabs {
  font-size: 1.5rem;
  font-weight: 600;
}

.social a {
  font-size: 30px;
}