body {
  margin: 0;
  color: var(--primary-font-color);
  font-family: 'Fredoka', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--dark-bg-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: var(--secondary-font-color);
  text-decoration: none
}

a:hover {
  color: var(--details-font-color)
}